<?xml version="1.0"?>

<comm slave="1" mailbox="modbus_rtu" reg_file="1.csv" mTime="900"
registers="26" 
Tregister="INT"
Aregister="holdingRegisters(1,1099)"
Tregister2="INT"
Aregister2="holdingRegisters(1,1100)"
Tregister3="INT"
Aregister3="holdingRegisters(1,1101)"
Tregister4="INT"
Aregister4="holdingRegisters(1,1102)"
Tregister5="INT"
Aregister5="holdingRegisters(1,1119)"
Tregister6="INT"
Aregister6="holdingRegisters(1,1120)"
Tregister7="INT"
Aregister7="holdingRegisters(1,1121)"
Tregister8="INT"
Aregister8="holdingRegisters(1,1123)"
Tregister9="INT"
Aregister9="holdingRegisters(1,1124)"
Tregister10="INT"
Aregister10="holdingRegisters(1,1125)"
Tregister11="INT"
Aregister11="holdingRegisters(1,1139)"
Tregister12="INT"
Aregister12="holdingRegisters(1,1140)"
Tregister13="INT"
Aregister13="holdingRegisters(1,1141)"
Tregister14="INT"
Aregister14="holdingRegisters(1,1142)"
Tregister15="INT"
Aregister15="holdingRegisters(1,1143)"
Tregister16="INT"
Aregister16="holdingRegisters(1,1144)"
Tregister17="INT"
Aregister17="holdingRegisters(1,1145)"
Tregister18="INT"
Aregister18="holdingRegisters(1,1146)"
Tregister19="INT"
Aregister19="holdingRegisters(1,1147)"
Tregister20="INT"
Aregister20="holdingRegisters(1,1148)"
Tregister21="INT"
Aregister21="holdingRegisters(1,1149)"
Tregister22="INT"
Aregister22="holdingRegisters(1,1150)"
Tregister23="INT"
Aregister23="holdingRegisters(1,1162)"
Tregister24="INT"
Aregister24="holdingRegisters(1,1179)"
Tregister25="MOD10"
Aregister25="holdingRegisters(1,1715)"
Tregister26="MOD10"
Aregister26="holdingRegisters(1,1719)"

/>
<comm slave="2" mailbox="modbus_rtu" reg_file="1.csv" mTime="900" 
registers="26" 
Tregister="INT"
Aregister="holdingRegisters(2,99)"
Tregister2="INT"
Aregister2="holdingRegisters(2,100)"
Tregister3="INT"
Aregister3="holdingRegisters(2,101)"
Tregister4="INT"
Aregister4="holdingRegisters(2,102)"
Tregister5="INT"
Aregister5="holdingRegisters(2,119)"
Tregister6="INT"
Aregister6="holdingRegisters(2,120)"
Tregister7="INT"
Aregister7="holdingRegisters(2,121)"
Tregister8="INT"
Aregister8="holdingRegisters(2,123)"
Tregister9="INT"
Aregister9="holdingRegisters(2,124)"
Tregister10="INT"
Aregister10="holdingRegisters(2,125)"
Tregister11="INT"
Aregister11="holdingRegisters(2,139)"
Tregister12="INT"
Aregister12="holdingRegisters(2,140)"
Tregister13="INT"
Aregister13="holdingRegisters(2,141)"
Tregister14="INT"
Aregister14="holdingRegisters(2,142)"
Tregister15="INT"
Aregister15="holdingRegisters(2,143)"
Tregister16="INT"
Aregister16="holdingRegisters(2,144)"
Tregister17="INT"
Aregister17="holdingRegisters(2,145)"
Tregister18="INT"
Aregister18="holdingRegisters(2,146)"
Tregister19="INT"
Aregister19="holdingRegisters(2,147)"
Tregister20="INT"
Aregister20="holdingRegisters(2,148)"
Tregister21="INT"
Aregister21="holdingRegisters(2,149)"
Tregister22="INT"
Aregister22="holdingRegisters(2,150)"
Tregister23="INT"
Aregister23="holdingRegisters(2,162)"
Tregister24="INT"
Aregister24="holdingRegisters(2,179)"
Tregister25="MOD10"
Aregister25="holdingRegisters(2,715)"
Tregister26="MOD10"
Aregister26="holdingRegisters(2,719)"
/>
<comm slave="2" mailbox="modbus_rtu" reg_file="1.csv" mTime="900" 
registers="26" 
Tregister="INT"
Aregister="holdingRegisters(2,1099)"
Tregister2="INT"
Aregister2="holdingRegisters(2,1100)"
Tregister3="INT"
Aregister3="holdingRegisters(2,1101)"
Tregister4="INT"
Aregister4="holdingRegisters(2,1102)"
Tregister5="INT"
Aregister5="holdingRegisters(2,1119)"
Tregister6="INT"
Aregister6="holdingRegisters(2,1120)"
Tregister7="INT"
Aregister7="holdingRegisters(2,1121)"
Tregister8="INT"
Aregister8="holdingRegisters(2,1123)"
Tregister9="INT"
Aregister9="holdingRegisters(2,1124)"
Tregister10="INT"
Aregister10="holdingRegisters(2,1125)"
Tregister11="INT"
Aregister11="holdingRegisters(2,1139)"
Tregister12="INT"
Aregister12="holdingRegisters(2,1140)"
Tregister13="INT"
Aregister13="holdingRegisters(2,1141)"
Tregister14="INT"
Aregister14="holdingRegisters(2,1142)"
Tregister15="INT"
Aregister15="holdingRegisters(2,1143)"
Tregister16="INT"
Aregister16="holdingRegisters(2,1144)"
Tregister17="INT"
Aregister17="holdingRegisters(2,1145)"
Tregister18="INT"
Aregister18="holdingRegisters(2,1146)"
Tregister19="INT"
Aregister19="holdingRegisters(2,1147)"
Tregister20="INT"
Aregister20="holdingRegisters(2,1148)"
Tregister21="INT"
Aregister21="holdingRegisters(2,1149)"
Tregister22="INT"
Aregister22="holdingRegisters(2,1150)"
Tregister23="INT"
Aregister23="holdingRegisters(2,1162)"
Tregister24="INT"
Aregister24="holdingRegisters(2,1179)"
Tregister25="MOD10"
Aregister25="holdingRegisters(2,1715)"
Tregister26="MOD10"
Aregister26="holdingRegisters(2,1719)"
/>
<comm slave="2" mailbox="modbus_rtu" reg_file="1.csv" mTime="900" 
registers="26" 
Tregister="INT"
Aregister="holdingRegisters(2,2099)"
Tregister2="INT"
Aregister2="holdingRegisters(2,2100)"
Tregister3="INT"
Aregister3="holdingRegisters(2,2101)"
Tregister4="INT"
Aregister4="holdingRegisters(2,2102)"
Tregister5="INT"
Aregister5="holdingRegisters(2,2119)"
Tregister6="INT"
Aregister6="holdingRegisters(2,2120)"
Tregister7="INT"
Aregister7="holdingRegisters(2,2121)"
Tregister8="INT"
Aregister8="holdingRegisters(2,2123)"
Tregister9="INT"
Aregister9="holdingRegisters(2,2124)"
Tregister10="INT"
Aregister10="holdingRegisters(2,2125)"
Tregister11="INT"
Aregister11="holdingRegisters(2,2139)"
Tregister12="INT"
Aregister12="holdingRegisters(2,2140)"
Tregister13="INT"
Aregister13="holdingRegisters(2,2141)"
Tregister14="INT"
Aregister14="holdingRegisters(2,2142)"
Tregister15="INT"
Aregister15="holdingRegisters(2,2143)"
Tregister16="INT"
Aregister16="holdingRegisters(2,2144)"
Tregister17="INT"
Aregister17="holdingRegisters(2,2145)"
Tregister18="INT"
Aregister18="holdingRegisters(2,2146)"
Tregister19="INT"
Aregister19="holdingRegisters(2,2147)"
Tregister20="INT"
Aregister20="holdingRegisters(2,2148)"
Tregister21="INT"
Aregister21="holdingRegisters(2,2149)"
Tregister22="INT"
Aregister22="holdingRegisters(2,2150)"
Tregister23="INT"
Aregister23="holdingRegisters(2,2162)"
Tregister24="INT"
Aregister24="holdingRegisters(2,2179)"
Tregister25="MOD10"
Aregister25="holdingRegisters(2,2715)"
Tregister26="MOD10"
Aregister26="holdingRegisters(2,2719)"
/>


